.ui-body-c, .ui-overlay-c {
    background: #3B97D3; 
}
/* Menu page principale*/ 
#main ul#conteneur a {
    font-weight: normal;
    font: 1.5em 'century_gothicregular';
    text-shadow:none;
}
ul#conteneur li.item01,ul#conteneur li.item02,ul#conteneur li.item03, ul#conteneur li.item04,ul#conteneur li.item05,ul#conteneur li.item06 {
    width:29.3333333333333%;
    float:left;
    margin:2%;
}
ul#conteneur li .svg {
    width:40%;
    height:10%;
    margin:15% auto 0;
}
ul#conteneur li.item01 {
    background : #F19B1F;
}
ul#conteneur li.item01 .svg {
    background : url("../img/svg/actu.svg") no-repeat;    
}
ul#conteneur li.item02 {
    background : #E57E25;
}
ul#conteneur li.item02 .svg {   
    background : url("../img/svg/sortir.svg") no-repeat;     
}
ul#conteneur li.item03 {
    background : #D15627;
}
ul#conteneur li.item03 .svg {  
    background : url("../img/svg/guide.svg") no-repeat;      
}
ul#conteneur li.item04 {
    background : #D15627;
}
ul#conteneur li.item04 .svg {
    background : url("../img/svg/signale.svg") no-repeat;    
}
ul#conteneur li.item05 {
    background : #E64C3B;
}
ul#conteneur li.item05 .svg {
    background : url("../img/svg/pratique.svg") no-repeat;    
}
ul#conteneur li.item06 {
    background : #C03A2B;
}
ul#conteneur li.item06 .svg {
    background : url("../img/svg/service.svg") no-repeat;  
}
ul#conteneur a {
    text-decoration:none;
    color:#fff;
    text-align:center;
    display:block;
    padding: 0 0 10% 0;
}
/* Footer village */
#village .svg {
    clear:left;
    background : url("../img/svg/bg_village.svg") repeat-x bottom left;
    position:absolute;
    bottom: -2px;
    width:100%;
    height:20%;
}
/* masquer les éléments superflus */
 .hide_mobile {
   display: none !important;
 }